@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

html{
  font-size: 62.5%;
}

a {
  display: inline-block;

}

body {
  /* box-sizing: border-box; */

  font-family: 'Epilogue', sans-serif;
  font-size: 1.8rem;
}


img{
  max-width: 100%;
}

ul{
  list-style: none;
}
p, 
li{
  @apply opacity-75;
}

.navbar{
  position: absolute;
  top: -100%;
  right: 0;
  width: 50%;
  /* left: 0; */
  bottom: 0;
  background-color: white;
  padding: 1rem 3rem;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

.navbar.open{
  top: 5rem;
  z-index: 99;
}